// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/*=============================================
=            Layout            =
=============================================*/

.section {
  height: 100vh;
}
.section:not(:first-child) {
    padding: 1em;
}

.section__home {
    display: flex;
  flex-direction: column;
  @include media('>large'){

  justify-content: space-between;

  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.presentation {
  width: 90vw;
  height: 35vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottom-arrow {
  align-self: center;
}

.section__projets {
  height: auto;
}

.projet__item__wrap {
  display: flex;
  flex-direction: column;
}

.project__row {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  @include media('>large') {
    flex-direction: row;
    justify-content: space-between;
  }
}

.project__row:nth-child(even) {
  @include media('>large') {
    flex-direction: row-reverse;
  }
}

.project__image--laptop {
  max-width: 100%;
  @include media('<=large') {
    height: auto;
    align-self: center;
  }
}

.project__image--iphone {
  max-width: 100%;
  @include media('<=large') {
    height: auto;
    align-self: center;
  }
}
.section__fcc {
  display: none;
  @include media('>large') {
    height: auto;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
  }
}
.codepen__wrap {
  max-width: 1024px;
  margin: 0 auto;
}
/* .form__wrap {
  display: flex;
  flex-direction: column;
}
 */

/*=====  End of Layout  ======*/


/*=============================================
=            Styles            =
=============================================*/

::selection {
  background-color: $brand-color-secondary;
  color: $light-grey;
}

body {
  background-color: $light-grey;
}

.wrapper {}

.logo {
  font-family: $code-font-stack;
  letter-spacing: 1.5px;
  margin-left: 25px;
}

.header {
  border-bottom: 1px solid $brand-color-light;
  background-color: $brand-color;
}

.presentation {
  h1 {
    letter-spacing: 1.5px;
  }
}

.bottom-arrow {
  fill: $brand-color-secondary-light;
  &:hover {
    cursor: pointer;
  }
}

.section__projets {
  background-color: $brand-color-light;
}

.section__contact {
  background-color: $brand-color-secondary-light;
}


/*=====  End of Styles  ======*/
