// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
/*=============================================
=            Layout            =
=============================================*/

.section {
  height: 100vh;
}

.section:not(:first-child) {
  padding: 1em;
}

.section__home {
  display: flex;
  flex-direction: column;
  @include media('>large') {
    justify-content: space-between;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.presentation {
  width: 90vw;
  height: 35vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottom-arrow {
  align-self: center;
}

.section__projects {
  height: auto;
}

.project__item {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.project__wrap {
  display: flex;
}

.project__description {
  margin-left: 1em;
}

.project__title {
}

.section__contact {
  h1 {
    color: $brand-color-light;
    margin-bottom: 1em;
  }
}

.form__wrap {
  margin-top: 1em;
}
/*=====  End of Layout  ======*/

/*=============================================
=            Styles            =
=============================================*/

::selection {
  background-color: $brand-color-secondary;
  color: $light-grey;
}

body {
  background-color: $light-grey;
}

.wrapper {
}

.logo {
}

.header {
  border-bottom: 1px solid $brand-color-light;
  background-color: $brand-color;
}

.presentation {
  h1 {
    letter-spacing: 1.5px;
    color: $brand-color;
  }

  h2 {
    color: $brand-color-light;
  }
}

.bottom-arrow {
  fill: $brand-color-secondary-light;

  &:hover {
    cursor: pointer;
  }
}

.section__projects {
  background-color: $brand-color-light;
}

.section__contact {
  background-color: $brand-color-secondary-light;
}
/*=====  End of Styles  ======*/
