// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/*=============================================
=            Layout            =
=============================================*/

.section {
  height: 100vh;
}

.section__home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.header {
  display: flex;
  justify-content: space-between;
}

.presentation {
  width: 90vw;
  height: 35vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottom-arrow {
  align-self: center;
}


/*=====  End of Layout  ======*/


/*=============================================
=            Styles            =
=============================================*/

body {
  background-color: $light-grey;
}

.wrapper {}

.nav--primary,
.logo {
  font-family: $code-font-stack;
  letter-spacing: 1.5px;
}

.header {
  border-bottom: 1px solid $brand-color-light;
  background-color: $brand-color;
}

.presentation {

  h1 {
    letter-spacing: 1.5px;
  }
}

.bottom-arrow {
  fill: $brand-color-secondary-light;
  &:hover {
    cursor: pointer;
  }
}


/*=====  End of Styles  ======*/
