/*=============================================
=            @import            =
=============================================*/

//CSS Reset
@import "reset";
// Variables
@import "variables";

/*=====  End of @import  ======*/

/* * {
  background-color: rgba(0, 0, 0, 0.2);
} */


/*=============================================
=            Global            =
=============================================*/

html,
body {
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-size: $font-size-base;
  background-color: $body-bg;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}


/*=====  End of Global  ======*/


/*=============================================
=            Layout            =
=============================================*/

.wrapper {
  height: 100vh;
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
}

.presentation {
  width: 50vw;
  height: 35vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottom-arrow {
  align-self: center;
}


/*=====  End of Layout  ======*/


/*=============================================
=            Styles            =
=============================================*/

.wrapper {
  border: 10px solid $brand-primary-light;
}

.nav--primary,
.logo {
  font-family: $font-family-monospace;
}

.header {}

.presentation {
    border: 10px solid $brand-primary-light;
    padding: 10px;
}

.bottom-arrow {
  fill: $brand-secondary-light;
  &:hover {
    cursor: pointer;
  }
}


/*=====  End of Styles  ======*/
