// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  border-radius: 0;
  border: 1px solid $brand-color;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.btn--primary {
  color: $brand-color-secondary-light;
  background-color: $brand-color;
  transition: all 0.25s ease-out;
  @include on-event() {
    color: darken($brand-color-secondary-light, 10%);
    box-shadow: inset 8.5em 0 0 0 darken($brand-color, 10%);
  }
}
