.cercle,
.traitHorizontal,
.traitVertical {
  fill: none;
  stroke: #ba9053;
  stroke-width: 1;
  animation: offset 1s ease-in-out forwards;
}

@keyframes offset {
  to {
    stroke-dashoffset: 0px;
    stroke: #e4c18d;
      stroke-width: 5;

  }
}

.cercle {
  stroke-dasharray: 144;
  stroke-dashoffset: 144;
  animation-delay: 1s;
}

.traitVertical {
  stroke-dasharray: 46;
  stroke-dashoffset: 46;
  animation-delay: 2s;
}

.traitHorizontal {
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
}
