.menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  &.on {
    .one {
      transform: rotate(45deg) translate(7px, 7px);
    }
    .two {
      opacity: 0;
    }
    .three {
      transform: rotate(-45deg) translate(8px, -10px);
    }
  }
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: $brand-color-secondary-light;
  margin: 6px auto;
  backface-visibility: hidden;
  transition-duration: .25s;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 4em auto;
  /* text-align: center; */
  &.hidden {
    display: none;
  }
  a {
    transition-duration: .25s;

    @include on-event(self) {
      color: $brand-color-secondary-light;
      text-decoration: none;
      font-size: 3em;
      line-height: 1.5;
      width: 100%;
      display: block;
    }
    @include on-event() {
      color: darken($brand-color-secondary-light, 20%);
      background-color: darken($brand-color, 20%);
      box-shadow: 5px 5px 20px $brand-gray;
    }
  }
}

.menu-section {
  &.on {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    background-color: $brand-color;
    position: absolute;
  }
}
